fastapi==0.109.1
uvicorn[standard]==0.22.*
pydantic[dotenv]==2.5.*
pydantic-settings==2.2.*
requests==2.31.*
loguru==0.7.*
python-multipart==0.0.9
python-jose[cryptography]==3.3.*
passlib==1.7.*
bcrypt==3.2.*
SQLAlchemy==2.0.*
asyncio==3.4.*
firebase-admin==6.2.*